<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-end fixed-top topbar-transparent">
    <div class="container d-flex justify-content-end">
        <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/Smart-Education-Academy-102666575437786/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">


        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/home" class="logo mr-auto"><img src="assets/img/smartlogo.jpg" alt="" class="img-fluid"></a> -->
        <h1 class="logo mr-auto"><a href="/home">Smart Education Academy</a></h1>
        <nav class="main-nav d-none d-lg-block">
            <ul>
                <li class="active"><a href="/home">Home</a></li>
                <li><a routerLink="./" fragment="about">About Us</a></li>
                <li><a routerLink="./" fragment="features">Why</a></li>
                <!-- <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#team">Team</a></li> -->
                <li><a routerLink="../register-now">Register</a></li>
            </ul>
        </nav>
        <!-- .main-nav-->

    </div>
</header>
<!-- End Header -->