<!-- ======= Footer ======= -->
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">

            <div class="row">

                <div class="col-lg-4">
                    <div class="footer-info">
                        <h3>Smart Education Academy</h3>
                        <!-- <div>
                            <img src="assets/img/smartlogo.jpg">
                        </div> -->
                        <p>is an online platform that allows childs to take online classes and learn from world-leading experts in programming skills, Instructors with high level in programming, are available through smart education academy to provide unique
                            insights that can be change your child career.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#about">About us</a></li>
                            <li><a href="#features">why</a></li>
                            <li><a href="/register-now">Register</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>


                </div>

                <div class="col-lg-4">

                    <div class="footer-links">
                        <h4>Contact Us</h4>
                        <p>
                            <!-- A108 Adam Street <br> New York, NY 535022<br> United States <br> -->
                            <strong>Phone:</strong> 00201105867821 , 00966580587995<br>
                            <strong>Email:</strong> smart.edu@outlook.sa<br>
                        </p>
                    </div>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Smart-Education-Academy-102666575437786/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Smart Education Academy</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
            Designed by <a href="http://pioapp.net/">Pioapp</a>
        </div>
    </div>
</footer>
<!-- End  Footer -->